<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Weather Forecast</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
   <h1 class="text-center mb-4">Сайт с прогнозом погоды в любой точке мира</h1>

   <!-- Форма для запроса погоды -->
   <form method="post" class="d-flex justify-content-center mb-5">
      <input type="text" name="city" class="form-control me-2 w-50" placeholder="Введите город" required>
      <button type="submit" class="btn btn-primary">Узнать погоду</button>
   </form>

   <!-- Результаты погоды -->
   <div class="result text-center">
      {% if weather %}
         <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
               <h3 class="card-title">Погода в {{ weather['name'] }}</h3>
               <p class="card-text">Температура: {{ weather['main']['temp'] }}°C</p>
               <p class="card-text">Ощущается как: {{ weather['main']['feels_like'] }}°C</p>
               <p class="card-text">Погода: {{ weather['weather'][0]['description'] }}</p>
            </div>
         </div>
      {% endif %}
   </div>

    <!-- случайная цитата -->
       <div class="result text-center">
      {% if weather %}
         <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Случайная цитата:</h4>
               <h4 class="card-title">Автор цитаты - {{ quote['author'] }}</h4>
               <p class="card-text">{{ quote['content'] }}</p>
            </div>
         </div>
      {% endif %}
   </div>




   <div class="result text-center">
       {% if news %}
           <h2>Новости:</h2>
           <ul>
               {% for article in news %}
                   <li><a href="{{ article['url'] }}"> {{ article['title'] }} </a></li>
               {% endfor %}
           </ul>
       {% endif %}
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
